.receipt-container {
  min-width: 300px;
  height: 60vh;
  max-height: 60vh;
  background-color: white;
  border-radius: 10px;
  padding: 20px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
}

.receipt-container h2 {
  margin-bottom: 20px;
}

.receipt-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: #f5f5f5;
  margin-bottom: 10px;
  padding: 8px 10px;
  border-radius: 8px;
}

.receipt-item span {
  font-size: 18px;
}

.receipt-item button {
  background: none;
  border: none;
  font-size: 20px;
  color: red;
  cursor: pointer;
}

.order-container {
  max-height: 40vh;
  overflow-y: auto; /* Permite scrollear si hay muchas ordenes */
}

.finalizar-btn {
  margin-top: 20px;
  padding: 10px 20px;
  font-size: 18px;
  background-color: #28a745;
  border: none;
  color: white;
  cursor: pointer;
  border-radius: 4px;
  position: center;
}

.finalizar-btn:hover {
  background-color: #218838;
}
